@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Session Initialized</h2>

        <p>The session has been initialized. Go to the <a href="@Url.Action("GetSession", "Session")">GetSession</a> page to see the session data.</p>
    </div>
</body>
</html>
